@model IEnumerable<MVC_Inventory.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            <th>
                Correo
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Dirección
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Names)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-file-text"></i></a> |
                <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
