@model IEnumerable<MVC_Inventory.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Precio
            </th>
            <th>
                Cliente
            </th>
            <th>
                Producto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductNavigation.Code)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-file-text"></i></a> |
                <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
